<template>
    <div>

        <div class="page-header">
            <h1>Compound Interest Calculator</h1>
            <p>This is a simple compound interest calculator where you input the initial value (principal, the inerest rate, and the number of compounding terms. It will calculate the end value (future value) as well as the value at the end of each term.</p>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Input Values</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Current Principal</label>
                            <input type="text" v-model="currentPrincipal" class="form-control" >
                        </div>

                        <div class="form-group">
                            <label>Interest Rate (%)</label>
                            <input type="text" v-model="interestRate" class="form-control" >
                        </div>

                        <div class="form-group">
                            <label>Terms</label>
                            <input type="text" v-model="terms" class="form-control" >
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Calculation</h3>
                    </div>
                    <div class="panel-body">

                        <div>
                            <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>F</mi><mi>V</mi><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mi>P</mi><mo>&#xA0;</mo><mo>&#xD7;</mo><mo>&#xA0;</mo><msup><mfenced><mrow><mn>1</mn><mo>&#xA0;</mo><mo>+</mo><mo>&#xA0;</mo><mfrac><mi>r</mi><mn>100</mn></mfrac></mrow></mfenced><mi>t</mi></msup></math>
                        </div>
                        <br>
                        <h4>Where:</h4>
                        <p><var>P</var>  = Principal = ${{currentPrincipal}} </p>
                        <p><var>r</var> = interest rate = {{interestRate}}%</p>
                        <p><var>t</var> = terms = {{terms}}</p>
                        <p><var>FV</var> = Future Value = ${{futureValue}}</p>

                    </div>
                </div>

            </div>
        </div>






        <div class="panel panel-default">
            <div class="panel-heading">Chart View</div>
            <div class="panel-body">
                <vue-chart
                        chart-type="ColumnChart"
                        :columns="columns"
                        :rows="rows"
                        :options="options"
                ></vue-chart>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Table View</div>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Term</th>
                    <th>Value</th>
                </tr>
                <tr v-for="futureValue in futureValues">
                    <td>{{ futureValue.term}}</td>
                    <td>${{ futureValue.value}}</td>
                </tr>
            </table>
        </div>


        <!--<pre>{{ $data | json }}</pre>-->

    </div>
</template>

<script type="text/babel">
    export default {
        data() {
            return {
                currentPrincipal: 1000,
                interestRate: 5,
                terms: 10,
                futureValues: [],
                columns: [{
                    'type': 'string',
                    'label': 'Year'
                }, {
                    'type': 'number',
                    'label': 'Value($)'
                }],
                rows: [],
                options: {
                      hAxis: {
                        title: 'Year'
                    },
                    vAxis: {
                        title: ''
                    }
                }
            };
        },
        computed: {
            futureValue: function(){
                this.futureValues=[];
                this.rows=[];
                for(var i=0; i <= this.terms; i++){

                    var val =(this.currentPrincipal * Math.pow((1 + this.interestRate/100), i)).toFixed(2);

                    var futureValue = {term: i, value: val};
                    this.futureValues.push(futureValue);
                    this.rows.push(['year '+i,Number(val)]);
                }

                return (this.currentPrincipal * Math.pow((1 + this.interestRate/100), this.terms)).toFixed(2);
            }
        },
        ready() {
            //alert('Vue and Vueify all set to go!');
        },
        methods: {

        }
    };
</script>

<style>

</style>