<template>
    <div>

        <div class="page-header">
            <h1>Exchnage Rate Calculator</h1>
            <p>Pick the to and from currencies and the daily rate will be displayed.</p>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Exchnage Rate</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3">

                        <div class="form-group">
                            <label>From Currency</label>
                            <select v-model="from" class="form-control">
                                <option v-for="(index, rate) in rates" v-bind:value="index">
                                    {{index}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="form-group">
                            <label>From Currency</label>
                            <select v-model="to" class="form-control">
                                <option v-for="(index, rate) in rates" v-bind:value="index">
                                    {{index}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="well">
                    <h4>Exchange Rate from {{from}} to {{to}} is: {{exchangeRate}}</h4>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <label>Amount to convert</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" v-model="amount" class="form-control"placeholder="Amount">

                            </div>
                        </div>

                    </div>
                </div>



                <div class="well">
                    <h4>{{amount}} {{from}} is equal to {{ (exchangeRate*amount).toFixed(2) }} {{to}}</h4>
                </div>

                <div class="well">
                    Rates are based of <a href="http://fixer.io/" target="_blank">fixer.io</a> and are updated daily around 4PM CET.
                </div>

            </div>
        </div>



        <!--<pre>{{ $data | json }}</pre>-->


    </div>
</template>

<script type="text/babel">
    export default {
        data() {
            return {
                from: 'CAD',
                to: 'USD',
                amount:100.0,
                rates: null
            };
        },
        computed: {
            exchangeRate: function () {
                var rate = 0;
                if(this.rates && this.to && this.from){
                    rate = this.rates[this.to] / this.rates[this.from];
                }
                return rate;

            }
        },
        ready(){
            // GET exchange rates
            this.$http.get('/api/exchange').then((response) =>{
               //success
                this.rates = response.json();
            }, (response) => {
                //error
            });
        }
    };
</script>

<style>

</style>