<template>
    <div>
        <h1>Hello, {{ name }}!</h1>

        <input type="text" v-model="name">
    </div>
</template>

<script type="text/babel">
    export default {
        data() {
            return {
                name: 'Laracasts'
            };
        }
    };
</script>

<style>

</style>