<template>
    <div>

        <div class="page-header">
            <h1>Portfolio Yield Calculator</h1>
            <p>Calculates the effective dividend yield for all your stocks.</p>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add Stock to Portfolio</h3>
            </div>
            <div class="panel-body">

                <form class="form-inline">

                    <div class="form-group">
                        <label>Symbol</label>
                        <input type="text" v-model="newStock.symbol" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" v-model="newStock.quantity" class="form-control">
                    </div>

                    <button type="button" v-on:click="addNewStock" class="btn btn-primary">Add Stock</button>

                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Portfolio</h3>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Prev Close</th>
                    <th>Quantity</th>
                    <th>Mrk Value</th>
                    <th>Yield</th>
                    <th>Div Value</th>
                    <th>Rem</th>
                </tr>
                <tr v-for="stk in portfolio">
                    <td>{{ stk.symbol }}</td>
                    <td>{{ stk.apiData.name }}</td>
                    <td>${{ stk.apiData.previous_close }}</td>
                    <td>{{ stk.quantity }}</td>
                    <td>${{ stk.mrkValue.toFixed(2) }}</td>
                    <td>{{ stk.apiData.yield }}%</td>
                    <td>${{ stk.dividendValue.toFixed(2) }}</td>
                    <td><button v-on:click="removeStock(stk)" class="btn btn-danger">X</button></td>
                </tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Portfolio Summary</h3>
            </div>
            <table class="table">
                <tr>

                    <th>Market Value</th>
                    <th>Effective Yield</th>
                    <th>Total Annual Dividend</th>
                </tr>
                <tr>
                    <td>${{ total.mrkValue.toFixed(2) }}</td>
                    <td>{{ total.yield.toFixed(2) }}%</td>
                    <td>${{ total.annualDividend.toFixed(2) }}</td>
                </tr>
            </table>
        </div>

        <!--
        <input type="text" v-model="newStock.symbol" class="form-control">
        <input type="text" v-model="newStock.quantity" class="form-control">
        <button v-on:click="addNewStock">Add Stock</button>
        <ul>
            <li v-for="stk in portfolio">
                {{ $index }} - {{ stk.symbol }} {{ stk.quantity }}
                <button v-on:click="removeStock(stk)">Remove Stock</button>
            </li>
        </ul>
        <button v-on:click="getStockData">Update Stock Data</button>
        <button v-on:click="updateStockProperties">Update Stock Properties</button>
        -->


        <pre>{{ $data | json }}</pre>


    </div>
</template>

<script type="text/babel">
    export default {
        data() {
            return {
                total : {mrkValue:0 , annualDividend:0, yield: 0},
                newStock: this.createStock({symbol: 'INTC', quantity: 50}),
                portfolio: [],
                stockData: null,
                holdings: null,
                holdingsApi: null
            };
        },
        computed: {
        },
        methods:{
            addNewStock(){

                this.holdingsApi.save({}, this.newStock).then((response) => {
                    let savedStk = response.json();
                    this.holdings.push(savedStk);
                    this.portfolio.push(this.createStock(savedStk));
                    this.getStockData();
                }, (response) => {
                    // error callback
                });

                this.newStock=this.createStock({symbol: '', quantity: 1});
            },
            removeStock(stk){

                this.holdingsApi.delete({id: stk.id}).then((response) => {
                    // success callback
                    let holdingToRemove = this.holdings.find( x => { return stk.id == x.id});
                    this.holdings.$remove(holdingToRemove);

                }, (response) => {
                    // error callback
                });

                this.portfolio.$remove(stk);
                this.updateStockProperties();
                this.updateTotal();
            },
            getStockData(){
                var stocks = this.portfolio.map( x => {return x.symbol;} ).join();
                console.log(stocks);

                // GET stock data
                this.$http.get('/api/quote', {params: {s: stocks} }).then((response) =>{
                    //success
                    this.stockData = response.json();

                    this.stockData.forEach( x => {
                        let currentStk = this.portfolio.find( y => { return y.symbol === x.symbol; });
                        currentStk.apiData = x;
                    });

                    this.updateStockProperties();
                    this.updateTotal();

                }, (response) => {
                    //error
                });
            },
            updateStockProperties(){
                this.portfolio.forEach( x => {
                    x.mrkValue = x.quantity * x.apiData.previous_close;
                    x.dividendValue = x.mrkValue * x.apiData.yield / 100;
                });
            },
            updateTotal(){
                let value=0, dividend= 0;

                this.portfolio.forEach( x => {
                    value += x.mrkValue;
                    dividend += x.dividendValue;
                });

                this.total =  {mrkValue:value , annualDividend:dividend, yield: ( (value > 0) ? (dividend / value * 100) : 0)};
            },
            createStock(curStk){
                let newStk = {symbol: '', quantity: 0, mrkValue:0 , dividendValue:0, apiData:{previous_close:0, yield:0}};
                for(var attrname in curStk){
                    newStk[attrname] = curStk[attrname];
                }
                return newStk;
            }
        },
        ready(){

            this.holdingsApi = this.$resource('/webapi/holdings{/id}');

            this.holdingsApi.get({}).then((response) => {
                this.holdings = response.json();

                this.holdings.forEach( x => {
                    let stk = this.createStock(x);
                    this.portfolio.push(stk);
                });

                this.getStockData();

            });

        }
    };
</script>

<style>

</style>